.cart-item h2{
    margin: 10px;
}
.cart-item hr{
    margin: 10px;
    width: 1000px;
}
.cart-img{
    width: 150px;
    height: 150px;
    margin-left: 10px;
}
.cart-detail{
    display: flex;
}
.cart-title{
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #c73500;
}
.rat{
    width: 100px;
    height: 25px;
    margin-left: 10px;
}
.bought{
    color: #7b7b7b;
    margin-bottom: 10px;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}
.product-price{
    margin-left: 10px;
    display: flex;
}
.product-price h3{
    margin-left: 20px;
    font-size: 15px;
}
.product-price p{
    color: #c73500;
}
.cart-qty{
    width: 50px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    outline: none;
}
.remove{
    display: flex;
    justify-content: space-between;
}
.cart-remove{
    padding: 12px 24px;
    margin-left: 575px;
    color: white;
    background-color: rgb(156, 0, 0);
    border: none;
    cursor: pointer;
}
hr{
    margin: 10px;
    width: 1000px; 
}
.total-item{
    display: flex;
    
}
.place-order{
    margin-left: 10px;
    padding: 12px 24px;
    background-color: rgb(0, 199, 0);
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
}
.cart-total{
    margin-left: 700px;
    margin-right: 30px;
    margin-top: 10px;
}
.cart-total-price{
    margin-top: 10px;
}